name: CI
on:
  push: ~
  pull_request: ~

env:
  COMPOSER_FLAGS: "--prefer-stable"

jobs:
  ci_job:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: ['ubuntu-latest']
        php-versions: ['8.1', '8.2', '8.3']

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          ini-values: post_max_size=256M, max_execution_time=180

      - name: Install Dependencies
        run: composer update $COMPOSER_FLAGS --no-interaction --prefer-dist --no-progress --ansi

      - name: Process the tests
        run: vendor/bin/phpunit

      - name: Tests with lowest posible packages
        run: |
          composer update $COMPOSER_FLAGS --no-interaction --prefer-dist --prefer-lowest --no-progress --ansi
          vendor/bin/phpunit

      - name: Tests with highest posible packages
        run: |
          composer update $COMPOSER_FLAGS --no-interaction --prefer-dist --prefer-highest --no-progress --ansi
          vendor/bin/phpunit
